<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Microsoft MSI Installer</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.msi-installer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Microsoft Batch File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Microsoft Executable</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-executable</string>
			</array>
		</dict>
	</array>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Whisky needs access to this folder to manage Wine bottles and install Windows dependencies.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Whisky needs access to Desktop to create shortcuts for Windows programs.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Whisky needs access to removable volumes when bottles are stored on external drives.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Whisky needs access to network volumes when bottles are stored on network drives.</string>
	<key>SUFeedURL</key>
	<string>https://frankea.github.io/Whisky/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>REPLACE_WITH_YOUR_SPARKLE_EDDSA_PUBLIC_KEY</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft MSI Installer</string>
			<key>UTTypeIconFile</key>
			<string></string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.msi-installer</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>msi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Batch File</string>
			<key>UTTypeIconFile</key>
			<string></string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.bat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bat</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
